.top-div {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.add-task-div {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-bottom: 12px;
    justify-content: center;
}

#taskInput {
    width: 75%;
    margin-right: 15px;
}

.addBtn {

}